<div class="container">
  <mat-card class="full-height main-card">
    <div class="main-card-title-wrapper">
      <mat-card-title class="main-card-title">O nas</mat-card-title>
    </div>
  
    <div class="main-card-content-wrapper">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra enim quis lectus condimentum dignissim. Nam mauris libero, efficitur non laoreet non, porta et neque. Maecenas pharetra sollicitudin volutpat. Integer finibus eros at mollis eleifend. Proin tempor condimentum ipsum, non feugiat lectus malesuada quis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque auctor tortor risus, et porttitor sem aliquam quis. Nullam ut nunc quam. Nam ex ex, auctor nec libero non, lacinia placerat eros. Phasellus non laoreet tortor. Nunc fringilla, ligula a iaculis porttitor, magna turpis iaculis dolor, vitae tempor nibh risus in risus. In sit amet diam ultrices, gravida lectus id, pellentesque sapien.</p>

      <p>Nulla finibus faucibus nulla, id placerat tellus semper nec. Curabitur sem elit, placerat sit amet sagittis convallis, aliquet vitae sem. Fusce ac lorem vel arcu hendrerit vestibulum. Nulla suscipit, enim nec pellentesque mattis, tortor eros blandit sapien, eget ornare turpis magna sit amet dolor. Mauris sit amet euismod erat. Curabitur pharetra feugiat velit molestie fringilla. Etiam vehicula malesuada leo sed lacinia. Vivamus eros ligula, tristique vel maximus nec, ornare quis sapien. Nulla sodales egestas lacinia. Phasellus iaculis, leo non hendrerit maximus, mauris nisl cursus erat, eget ullamcorper libero nisi sed augue.</p>

      <p>Suspendisse vehicula, felis at egestas consequat, dui est facilisis lacus, in posuere tortor mauris a tellus. Aenean finibus mi scelerisque dapibus tristique. Suspendisse egestas ipsum at purus placerat vestibulum. Phasellus varius, odio et placerat dignissim, lacus diam venenatis lacus, eget mattis purus urna ac nulla. Pellentesque tincidunt eu nisl nec auctor. Vivamus pretium lorem egestas, laoreet mauris et, imperdiet enim. Duis elementum magna eros, eu ultrices elit gravida at. Praesent id posuere odio, ac varius sem. Nunc massa justo, feugiat sed pulvinar elementum, egestas et diam. Nullam massa lacus, varius et malesuada nec, vulputate posuere purus. Integer ut turpis convallis, semper enim at, tristique nisi. Fusce sem libero, elementum id orci ac, facilisis tincidunt quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. In accumsan lacinia magna at commodo. In suscipit nunc vel felis varius pretium.</p>

      <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas varius suscipit eros, in aliquet elit maximus ac. Ut condimentum lorem eu malesuada lacinia. Quisque at nibh non nunc fringilla interdum ut sit amet odio. Nullam aliquet nibh finibus tortor bibendum pulvinar. Vivamus pellentesque consectetur erat quis blandit. Duis feugiat dolor nec gravida aliquet. Ut at libero at eros bibendum fringilla. Vestibulum gravida lectus at arcu viverra, a dapibus orci blandit. Curabitur aliquet felis vitae volutpat ornare. Sed faucibus dapibus feugiat. Praesent rutrum mattis tortor, vitae lacinia lorem. Nulla in ligula faucibus, ultricies dui sit amet, cursus risus. Fusce congue luctus dui in pulvinar.</p>
      <br>
      
      
    </div>
    <mat-card-actions class="action-padding" align="end">
      <button mat-raised-button color="primary" (click)="back();">
        <mat-icon>chevron_left</mat-icon>
        Wróć
      </button>
    </mat-card-actions>
  </mat-card>
</div>
